#container {
border: 9px double darkgreen;
border-radius: 5%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
margin: px;
}



.info {
border: 10px solid gold;
border-radius: 4%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
max-width: 300px;
min-height: 250px;
margin: 15px;
}