<!DOCTYPE html>

<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>

<div>
  <mat-tab-group>
    <mat-tab label="Billing">Content of the billing tab</mat-tab>
  <mat-tab label="Shipping">Content of the shipping tab</mat-tab>
</mat-tab-group>

</div>
<div>
  <mat-chip-list>
  <mat-chip
  *ngFor="let category of categories"
  (click)="selectCategory(category)"
  [selected]="category.selected"> {{ category.name }} </mat-chip>
  </mat-chip-list>

</div>

<div>
  <span matTooltip="Here is my tooltip"
  matTooltipPosition="right">Some text</span>
</div>

<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">
  Show details
</mat-checkbox>
<div *ngIf="showDetails.checked">Some details....</div>

<div>
  <button mat-button>Button1</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warm" mat-raised-button>Warm</button>
  <button mat-fat><mat-icon>check</mat-icon></button>
</div>

<div>
  <mat-radio-group value="0">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
  </mat-radio-group>
</div>

<div>
  <mat-form-field>
    <mat-label>Colors</mat-label>
    <mat-select [(ngModel)]="color">
      <mat-option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-icon>add_alert</mat-icon>
</div>
<div>
  <mat-form-field>
    <input (focus)="birthdate.open()" [min]="minDate" [max]="maxDate" type="text" [matDatepicker]="birthdate" matInput
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
    <mat-datepicker #birthdate touchUI="true"></mat-datepicker>
  </mat-form-field>

</div>

<div>
  <mat-form-field>
    <input ngModel #username="ngModel" name="username" tpye="text" matInput placeholder="Username" required>
    <mat-hint>Type a unique username</mat-hint>
    <span matSuffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors.required">
      The username field is required.
    </mat-error>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <textarea matInput matTexareaAutosize row="2"></textarea>
  </mat-form-field>
</div>


  <div class="parent">
    <div class="child1">One</div>
    <div class="child2">Two</div>
    <div class="child3">Three</div>
    <div class="child4">Four</div>
  </div>


<!-- <img src="{{ imageUrl }}" /> -->
<div class="container">
  <form action="">
    <div class="form-row">
      <label for="name">Name:</label>
      <input type="text" id="name">
    </div>
    <div class="form-row">
      <label for="favPlayground">Favorite Playground:</label>
      <input type="text" id="favPlay">
    </div>
  </form>
</div>




<div class="column-layout">
  <div class="main-column">
    <h2>Main Column</h2>
    <p>Why God
      Do people have to die?
      A daughter or a son
      Sudden and so young
      Long before their time?
      Why God</p>
    <p>Do people fall apart?
      A promise and a ring
      Becomes a broken thing
      A road that got too hard?
      I don't understand
      But I understand</p>
    <p>Why God, I need You
      It's, why God, I run to Your arms
      Over and over again
      It's, why God, I cling to Your love
      And hold on for dear life
      And I find, You are right by my side</p>
    <p>Why God
      Do we feel so alone?
      Every single day
      Fighting through the pain
      Hoping there is hope?
      I don't understand
      But I understand</p>
    <p>Why God, I need You
      It's, why God, I run to Your arms
      Over and over again
      It's why God, I cling to Your love
      And hold on for dear life
      And I find, You are right by my side, ooh...</p>
    <p> Give me a faith stronger than I have
      I need to know when it hurts this bad
      That You hold my heart when it breaks
      And I'm not alone in this place
      That's why God, I need You
      Why God, I run to Your arms
      Over and over again</p>
    <p> It's, why God, I cling to Your love
      And hold on for dear life
      And I find, You are right by my side
      Always right by my side
      Even here in the why... God</p>
  </div>

  <div class="sidebar-one">
    <h3>Sidebar One</h3>
    <p>Austin Bryan French is an American Christian musician,
      who plays Christian pop style contemporary worship music.
      He released his debut single, "Freedom Hymn", through
      Fair Trade Services on December 8, 2017.</p>
  </div>

  <div class="sidebar-two">
    <h3>Sidebar Two</h3>
    <p>After departing from Rising Star, French began his journey
      into the CCM industry. He was led to his manager and CEO of
      One One 7, Jason Davis, a manager/partner with First Company
      Management. Through many writing trips to Nashville, Tennessee,
      Austin began to grow his ministry and develop into a true artist.
      His passion for ministry led him and his family to Delray Beach,
      Florida, serving as the worship pastor at The Avenue Church.
      While in Florida, French continued to write and travel to Nashville,
      writing songs and make friendships that would be vital to his
      future in the industry. After years of work, Austin signed a
      record deal with Fair Trade Services, a record label home for
      artists such as, The Newsboys, MercyMe, Phil Wickham, Laura
      Story, Hawk Nelson and several other successful Christian artists.</p>
  </div>
</div>

<div class="call-outs-container">
  <div class="call-out">
    <h4>Feature 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>

  <div class="call-out">
    <h4>Feature 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </div>

  <div class="call-out">
    <h4>Feature 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
  </div>
</div>

<div class="fixed-size-container">
  <div class="fixed-size">1</div>
  <div class="fixed-size">2</div>
  <div class="fixed-size">3</div>
  <div class="fixed-size">4</div>
  <div class="fixed-size">5</div>
  <div class="fixed-size">6</div>
  <div class="fixed-size">7</div>
</div>


<div class="banner">
  <div class="center-me-please">Please Center Me</div>
</div>


<div class="equal-height-container">
  <div class="first">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
  </div>



  <div class="second">
    <div class="second-a">A</div>
    <div class="second-b">B</div>
    <div class="second-c">C</div>
  </div>
</div>


<ul>
  <li class="flex2">one</li>
  <li class="flex1">two</li>
  <li class="flex2">three</li>
  <li class="flex1">four</li>
  <li class="flex1">five</li>

</ul>

<div>
  <button (click)="playgrounds">Playgrounds</button>
</div>
<section>
  <div class="playGroundUser">
    <div *ngIf="err === null; else error">
      <div *ngIf="playgrounds != null; else loading">
        <div *ngFor="let playground of playgrounds">
          <div style="border: 1px solid black">
            Name: {{ playground.first_name }} {{ playground.last_name }} <br />
            ID: {{ playground.id }} <br />
            Email: {{ playground.email }} <br />
            Gender: {{ playground.gender }} <br />
            age: {{ playground.age }} <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #error>
    {{ err }}
  </ng-template>
  <ng-template #loading>
    ...loading
  </ng-template>


  <div>
    <button (click)="getData()">Post</button>
  </div>


  <div *ngIf="!!data" class="post-container">
    <div *ngFor="let row of data" class="post-item">
      {{ row.userId }} <br />
      {{ row.title }} <br />
      {{ row.body | summary:10 }} <br />
    </div>
  </div>


  <footer></footer>