
.example-card {
    height: 460px;
    width: 350px;
    padding: 20px;
    border: 5px solid white;
    background-color: rgb(114, 137, 145);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }