.container {
    background-color: #79a4b1;
    Margin-bottom: 20px;
    text-align: center;
    padding: 1em;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.maincontainer {
    position: relative;
    width: 250px;
    height: 320px;
    background: green;
}

.thecard {
    position: absolute;
    width:100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
}

.thecard:hover {
    transform: rotateY(180deg);
}
.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    transform: rotateY(180deg);
}

