<div class="container">
  <header>
    <h2>Tensure Apprentice List</h2>
  </header>
</div>

<!-- <pre>{{ users | json }}</pre> -->
<div class="users">
<ng-container *ngFor="let user of users">
  <app-user-card
    *ngIf="user.showFront === true; else back"
    [user]="user"
    (profileClicked)="toggleCardForUser(user)"
    style="margin: 5px"
  ></app-user-card>
  <ng-template #back>
    <app-user-profile
    [user]="user"
    (returneClicked)="toggleCardForUser(user)"
    style="margin: 5px"></app-user-profile>
  </ng-template>
</ng-container>
</div>
<!-- <div class="container">
  <header>
    <h2>Tensure Apprentice List</h2>
  </header>
</div>

<div class="users">
  <app-user-card *ngFor="let user of users" [user]="user" style="margin: 5px">
  </app-user-card>
</div> -->

<!-- <div class="maincontainer">
  <div class="thecard">
    <div class="thefront"></div>
    <div class="theback"></div>
  </div>
</div> -->
